/* HomePage.css */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #6a82fb, #fc5c7d);
  color: #fff;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

.home-container h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: calc(24px + 2vw); /* Responsive font size */
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin-top: 20px;
  width: 100%;
}

.link {
  text-decoration: none;
  padding: 10px 15px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
  text-align: center;
  width: fit-content;
}

.link:hover {
  color: #6a82fb;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .home-container {
    padding: 10px;
    flex-direction: column;
  }

  .home-container h1 {
    font-size: calc(18px + 2vw); /* Smaller font size for smaller devices */
  }

  .links {
    font-size: 16px;
  }

  .link {
    padding: 8px 10px;
  }
}

@media (max-width: 480px) {
  .home-container {
    padding: 5px;
  }

  .home-container h1 {
    font-size: calc(16px + 2vw);
  }

  .links {
    font-size: 14px; /* Further reduce font size for very small screens */
  }

  .link {
    padding: 6px 8px;
  }
}
